@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>ITACO</h1>
    <p class="lead">El mejor lugar para comer la combinación entre la preparación de un restaurante profesional y con el sabor de una comida en casa.</p>
    <p><a href="http://goo.gl/mPQ70c" target="_blank" class="btn btn-primary btn-lg">Siguenos en FACEBOOK</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modulo Administrativo</h2>
        <p>
            Registro de ventas, consolidación de ventas diarias, semanales y mensuales.
        </p>
        <p><a class="btn btn-default" href="#">Ingresar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestros Productos</h2>
        <p>Vea el menú de opciones que tenemos para ofrecerle a los mejores precios del mercado.</p>
        <p><a class="btn btn-default" href="#">Listar Productos</a></p>
    </div>
    <div class="col-md-4">
        <h2>En Construcción</h2>
        <p>Proximante domicilios en su puerta.</p>
        <p><a class="btn btn-default" href="#">Aqui</a></p>
    </div>
</div>